

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#nav-collapse .nav li a{
	color: #FFF;
	font-size: 1.2em;
}

#nav-collapse .nav li a:hover{
	color: #888;
	font-size: 1.2em;
}

#login-form{
	padding-top: 100px;
}

.table{
	margin-bottom: 10%;
	margin-top: 0%;
}

.title{
	margin-bottom: 2%;
	text-align: center;
	font-size: 3em;
}

.pag{
	margin-bottom: 0%;
}

.search-box{
	margin-top: 1%;
}

.overflow-ellipsis {
    overflow: hidden;        
    text-overflow: ellipsis; 
}

.items-found{
	font-size:1.2em;
	color: #002222;
}

.menu-toggle{
	color: #0077cc;
}

.menu-collapse{
	margin-bottom: 2%;
}
