

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#nav-collapse .nav li a{
	color: #FFF;
	font-size: 1.2em;
}

#nav-collapse .nav li a:hover{
	color: #888;
	font-size: 1.2em;
}

#login-form{
	padding-top: 100px;
}

.table{
	margin-bottom: 10%;
	margin-top: 3%;
}

.title{
	margin-bottom: 2%;
	text-align: center;
	font-size: 3em;
}