<div ng-controller="mainController">
	<div class="container">
		<h2 class="title">{{title}}</h2>

		<form class="form-inline" role="form">
  			<div class="form-group">
  				<label class="sr-only" for="feed">Feed: </label>
				<select class="form-control" id="feed" ng-model="collection" ng-options="c.name for c in collections"></select>
			</div>
			<div class="form-group">
				<label class="sr-only" for="limit">Limit: </label>
				<input class="form-control" id="limit" ng-model="limit" />
			</div>
			<div class="form-group">
				<a class="btn btn-primary" ng-click="updateData(page)">Update</a>
				<a class="btn btn-primary" ng-click="resetData(page)">Reset</a>
				<div class="checkbox">
				  <label>
				    <input type="checkbox" ng-model="updateCheck"> Update as filter changes {{updateCheck}}
				  </label>
				</div>
			</div>
		</form>



		<pagination total-items="count" items-per-page="limit" page="page" on-select-page="setPage(page)" max-size="pagTotalItems" class="pagination-sm pag" boundary-links="true" rotate="false"></pagination>
		<br>
		<span class="items-found">{{count}} rows found</span>

		<!-- <span ng-repeat="header in headers"><input ng-model="filters[header.name]" class="inline" placeholder="{{header.name}}" /></span> -->
		<!-- {{filters | json }}
		{{searchFilter | json }} -->
		<div class="table-container">
			<table class="table table-bordered table-striped table-hover">
				<tr>
					<th ng-repeat="header in headers" class="overflow-ellipsis">
						<div>{{header.name}}</div>
						<input ng-model="filters[header.name]"  ng-change="CreateSearchObject()"/>
					</th>
				</tr>
				<tr ng-repeat="row in table track by $index">

					<td ng-repeat="header in headers">
						<div ng-bind-html="row[header.name]"></div>
					</td>
					<!-- <td><div ng-bind-html="row['ID']"></div></td>
					<td><div ng-bind-html="row['Associated ID']"></div></td>
					<td><div ng-bind-html="row['Class']"></div></td>
					<td><div ng-bind-html="row['Event State']"></div></td>
					<td><div ng-bind-html="row['Date Started']"></div></td>
					<td><div ng-bind-html="row['Time Left (minutes)']"></div></td>
					<td><div ng-bind-html="row['Last Update']"></div></td>
					<td><div ng-bind-html="row['Type']"></div></td>
					<td><div ng-bind-html="row['Lanes Affected']"></div></td>
					<td><div ng-bind-html="row['Lanes Details']"></div></td>
					<td><div ng-bind-html="row['Lanes Status']"></div></td>
					<td><div ng-bind-html="row['Description']"></div></td>
					<td><div ng-bind-html="row['Reporting Organization']"></div></td>
					<td><div ng-bind-html="row['Facility']"></div></td>
					<td><div ng-bind-html="row['City']"></div></td>
					<td><div ng-bind-html="row['State']"></div></td>
					<td><div ng-bind-html="row['County']"></div></td>
					<td><div ng-bind-html="row['Comments']"></div></td>
					<td><div ng-bind-html="row['Intersections']"></div></td>
					<td><div ng-bind-html="row['Longitud']"></div></td>
					<td><div ng-bind-html="row['Latitude']"></div></td>
					<td><div ng-bind-html="row['Datum']"></div></td> -->
				</tr>
			</table>
		</div>
		<pagination total-items="count" items-per-page="limit" page="page" on-select-page="setPage(page)" max-size="pagTotalItems" class="pagination-sm pag" boundary-links="true" rotate="false"></pagination>
	</div>
</div>

