<div ng-controller="mainController">
	<div class="container">
		<h2 class="title">{{collection.name}} Interface</h2>

		<form class="form-inline" role="form">
  			<div class="form-group">
  				<label class="sr-only" for="feed">Feed: </label>
				<select class="form-control" id="feed" ng-model="collection" ng-options="c.name for c in collections"></select>
			</div>
			<div class="form-group">
				<label class="sr-only" for="limit">Limit: </label>
				<input class="form-control" id="limit" ng-model="limit" />
			</div>
			<div class="form-group">
				<a class="btn btn-primary" ng-click="updateData(page)">Update</a>
				<a class="btn btn-primary" ng-click="resetData(page)">Reset</a>
<!-- 				<a class="btn btn-primary" ng-click="downloadData()" download="results.txt">Download</a>
 -->				<a class="btn btn-primary" target="_self"  href="/api/event/download/{{collection.event}}/{{searchStringFilter}}" download="file.txt">Download</a>
				<div class="checkbox">
				  <label>
				    <input type="checkbox" ng-model="updateCheck"> Update as filter changes
				  </label>
				</div>
			</div>
		</form>
		

		</div>
		
		<div class="container">
			<div ng-show="menu" ng-click="menu = !menu" class="menu-toggle">Show more options &#9660;</div>
			<div ng-show="!menu" ng-click="menu = !menu" class="menu-toggle">Hide</div>

			<div collapse="menu" class="menu-collapse">
				<form class="form-inline" role="form">
					<div class="form-group">
						<label for="feed">Character Limit: </label>
						<input class="form-control" ng-model="wordLimit">
					</div>
				</form>
			</div>



			<pagination total-items="count" items-per-page="limit" page="page" on-select-page="setPage(page)" max-size="pagTotalItems" class="pagination-sm pag" boundary-links="true" rotate="false"></pagination>
			<br>
			<span class="items-found">{{count}} rows found</span>
			<!-- <span class="pull-right items-found" 
				  popover="Enter what you need to search in the input box many different" 
					popover-trigger="mouseenter"><a href="#">Search Help</a></span> -->
		

		<!-- <span ng-repeat="header in headers"><input ng-model="filters[header.name]" class="inline" placeholder="{{header.name}}" /></span> -->
		<!-- {{filters | json }}
		{{searchFilter | json }} -->
		<div class="table-container">
			<table class="table table-bordered table-striped table-hover">
				<tr>
					<th ng-repeat="header in headers" class="overflow-ellipsis">
						<div>{{header.name}}</div>
						
						<div class="field_input">
						    <input ng-model="filters[header.name]"  ng-change="createSearchObject()" />

						    <img src="assets/img/search-icon.png" class="field_img" ng-click="open(filters, header.name)"/>
						</div>

					</th>
				</tr>
				<tr ng-repeat="row in table track by $index">

					<td ng-repeat="header in headers">
						<div ng-bind-html="row[header.name]"></div>
					</td>
				</tr>
			</table>
		</div>
		<pagination total-items="count" items-per-page="limit" page="page" on-select-page="setPage(page)" max-size="pagTotalItems" class="pagination-sm pag" boundary-links="true" rotate="false"></pagination>
		</div>
	</div>
</div>
