    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">Search for {{name}}</h4>
      </div>
      <div class="modal-body">
        <p>The recommended the way to search for dates is to use one of these three formats. 
          <span class="menu-toggle">
            <br>yyyy-mm-dd 
            <br>yyyy-mm (No day specified)
            <br>yyyy (No month and day specified)
          </span>
        </p>
        <form class="form-horizontal" role="form" novalidate>
          <div class="form-group">
            <label>Greater than</label>
            <input type="text" name="greater" class="form-control" ng-model="search.greater">
          </div>

          <div class="form-group">
            <label>Less than</label>
            <input type="text" name="less" class="form-control" ng-model="search.less">
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="cancel()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="ok()">Search</button>
      </div>
    </div><!-- /.modal-content -->

